{% extends "_layout.html" %} {% block title %} {{ current_user.username }} |{%
endblock %} {% block content %}

<h1><strong> Hello {{ current_user.username }} !</strong></h1>
<h2>Other Users</h2>

{% if current_user.is_authenticated %} {% for each_user in all_users %}

<div class="row border mb-5 border-5">
  <div class="col-sm-2 mb-5">
    <a
      href="{{ url_for('users.show', user_detail=each_user.username) }}"
      class="font-weight-bold"
    >
      <h3>{{each_user.username}}</h3>
    </a>

    <img
      src="{{  each_user.profile_image_url  }}"
      alt="user profile picture"
      class="card-img-top"
    />
  </div>

  {% for each_image in each_user.images_feed %}
  <div class="col">
    <div class="col-sm-4 mb-2">
      <img src="{{ each_image.full_newpost_url }}" alt="user feed" />
      <form action="{{ url_for('donations.new', image_id=each_image.id) }}">
        <p>{{ each_image.caption }}</p>
        <button class="btn btn-primary">Donate</button>
      </form>
    </div>
  </div>
  {% endfor %}
</div>
{% endfor %} {% else %}

<h3>
  Welcome to Nextagram! Proceed to
  <a href="{{ url_for('sessions.new') }}">login</a> /
  <a href="{{ url_for('users.new') }}">sign up</a> now!
</h3>

{% endif %} {% endblock %}
